@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
    /* border: 1px solid red; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Raleway', 'sans-serief';
} 


body, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
   width: 600px;
   gap: 160px;
}

.ingre {
    width: 100%;
}

img {
    max-width: 600px;
    height: auto;
}

h2 {
    font-size: 40px;
}

img, h2 {
    margin: 50px 0;
}

p, li {
    font-size: 20px;
}

ol li, ul li {
    margin: 10px 0 10px 25px;
}
