@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'sans-serif';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 100vh;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 25px 0;
}

.recipe-list p {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 10px -40px;
}

.recipe-list ul li {
    padding: 5px 0;
}

.recipe-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}